# dependencies
/node_modules
/client/node_modules
/server/node_modules
/server/.env
/serverless-aws/node_modules
/serverless-aws/secrets.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env

